/* "Inspiration" par Graphiques-Kits.com 
Sous licence Creative Commons 2.0 
http://www.graphiques-kits.com/conditions */

*{ margin: 0; padding: 0; }

p {
	margin: 15px 0 15px 0;
	padding: 0 0 0 0;
	text-align: justify;
}
pre{
   font-size:1.2em; 
    
}
a {
	text-decoration: none;
	color: #669a26;
}

a:hover { color: #107cab; }

.invisible {
	display: block;
	visibility: hidden;
}

.clear {
	margin: 0 auto;
	font-size: 1px;
	clear: both;
}

body {
	background: #eee url(images/bg-contenu.jpg) repeat-y center;
	text-align: center;
	font: normal 80% "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #515151;
}

#main {
	background: url(images/bg.jpg) no-repeat center top;	
}

#site {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

#top {
	width: 1000px;
	height: 30px;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}

#navigation {
	height: 30px;
	padding-left: 40px;
	overflow: hidden;
}

#navigation li {
	list-style-type: none;
	width: 90px;
	height: 30px;
	background: url(images/navigation-separation.jpg) no-repeat right top;
	padding-right: 2px;
	text-align: center;
	float: left;
}

#navigation li a {
	width: 90px;
	height: 24px;
	display: block;
	color: #baceda;
	padding-top: 6px;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out;
}

#navigation li a:hover {
	color: #fff;
}

#login {
	position: absolute;
	right: 40px;
	top: 0px;
	color: #9db2bf;
	padding: 6px 32px 0 0;
	min-height: 30px;
}

#login a { color: #9db2bf; }
#login a:hover { color: #9db2bf; }

#header {
	width: 1000px;
	height: 140px;
}

#header h1 {
	width: 450px;
	height: 140px;
	line-height: 140px;
	text-indent: -9999px;
	padding-left: 60px;
}

#header h1 a {
	width: 450px;
	height: 140px;
	display: block;
	background: url(images/logo.png) no-repeat 0 0;
}

#rss {
	width: 1000px;
	height: 75px;
}

#rss .rss {
	width: 175px;
	height: 65px;
	display: block;
	background: url(images/rss.png) no-repeat 0 0;
	float: right;
	margin-right: 60px;
}

/* Container */
/* --------- */

#container {
	width: 895px;
	margin: 15px 0 0 50px;
}

/* Gauche */

#content {
	width: 610px;
	float: left;
}

#content h3 {
	margin: 1.4em 0 0.9em 0;
	font-weight: normal;
	font-size: 1.2em;
	color: #000;
}

.bloc {
	background: url(images/bg-bloc.jpg) right bottom no-repeat;
	padding: 0 40px 20px 0;
	margin: 0 0 30px 0;
}

.bloc h2 {
	margin: 0 0 0em 0;
	font-weight: bold;
	font-size: 1.6em;
	padding: 0 0 3px 0;
}

.post-date {
	background:url(images/date.png) left no-repeat;
	padding:5px 0 5px 30px;
	color: #848484;
	margin: 0 0 0 0;
	font-size:0.85em;
}
.auteur {
	background:url(images/author.png) left no-repeat;
	padding:0 15px 0 20px;
	color: #848484;
	margin: 0 0 0 0;
	font-size:0.85em;
}

h2 {
	margin: 1.6em 0 0.2em 0;
	font-weight: bold;
	font-size: 1.6em;
	color: #7cae39;
}

.content-p {
	padding: 0 20px 20px 0;
	margin: 0 0 30px 0;
}

.bleu {
	color: #10729c;
}
.titreindex {
	color: #10729c;
}
.titreindex a {
	color: #10729c;
}

.titreindex a:hover {
	color: #7cae39;
}

.annonce {
	float: right;
	width: 175px;
	margin: 0;
	padding: 0 0 10px 20px
}

.annonce img {
	border: #d1e1e7 solid 5px;
}

.code {
	display: block;
	background: #f2f5f6 url(images/bg-code.gif) right top no-repeat;
	margin-left: 23px;
	padding: 10px 15px 10px 18px;
	border-left: #b5de14 solid 6px;
}

.bottom {
	display: block;
	width: 594px;
	background: #edf3f5 url(images/bg-bottom.gif) left top no-repeat;
	padding: 4px 10px 4px 10px;
	margin-bottom: 30px;
}

.bottom a {
	color: #074456;
}

.bottom a:hover {
	color: #000;
}

.comments {
	background: url(images/quote.gif) no-repeat 0 4px;
	padding-left: 24px;
	float: left;
	width: 300px;
}

.sociaux {
	float: right;
	width: 250px;
}

/* Droite */

#sidebar {
	width: 250px;
	float: left;
	padding-left: 20px;
}

#sidebar a {
	color: #515151;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out; 
}

#sidebar a:hover {
	font-weight: bold;
	color: #7cae39;
}

#sidebar a img { border: 0 none; }

.titremenu {
	margin: 1.4em 0 0.9em 0;
	border-radius: 3px;
	font-weight: bold;
	font-size: 1.3em;
	color: #10729c;
	padding: 0 0 0 5px;
border-left: #B5DE14 solid 6px;
border-right: #CCC solid 1px;
border-top: solid 1px #CCC;
border-bottom: solid 1px #CCC;
text-align: left;
background: white;
background: -moz-linear-gradient(top, white 0%,#E9E9E9 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#E9E9E9));
background: -webkit-linear-gradient(top, white 0%,#E9E9E9 100%);
background: -o-linear-gradient(top, white 0%,#E9E9E9 100%);
background: -ms-linear-gradient(top, white 0%,#E9E9E9 100%);
background: linear-gradient(to bottom, white 0%,#E9E9E9 100%);
filter: progid:DXImageTransform.Microsoft.gradient("startColorstr='#fff',endColorstr='#e9e9e9',GradientType=0");
margin-bottom: 20px;
}

.puce-1 ul {
	list-style: url(images/puce-1.gif);
	padding: 0px;
	margin: 0 0 0 30px;
}

.puce-1 li {
	margin-bottom: 2px;
}

.puce-2 ul {
	list-style: url(images/puce-2.gif);
	padding: 0px;
	margin: 0 0 0 30px;
}

.puce-2 li {
	margin-bottom: 2px;
}

.puce-3 ul {
	list-style: url(images/puce-3.png);
	padding: 0px;
	margin: 0 0 0 30px;
}

.pucehtml ul {
	padding: 0px;
	margin: 0 0 0 30px;
}

.bouton
{
background:url(images/bouton.gif);
border : none;
width :90px;
height:23px;
cursor:pointer;
-webkit-transition: all 0.5s ease-in-out;
font-weight: bold;
color: white;
} 
.bouton:hover
{
background:url(images/boutona.gif);    
}

/*  FOOTER  */
/* ---------*/

#footer {
	background: #086783 url(images/bg-footer.jpg) repeat-x;
	height: 253px;
	margin-top: 30px;
}

#footer-inner {
	margin:0 auto;
	width: 1000px;
	height: 221px;
	padding: 30px 0 0 20px;
	color: #FFF;
	text-align: left;
	background: url(images/footer.jpg) 0 2px no-repeat;
}

#footer-inner h1 {
	margin: 0 0 0.8em 0;
	font-weight: bold;
	font-size: 1.3em;
	color: #b5de14;
}

#footer-left {
	float: left;
	width: 230px;
	padding-left: 50px;
	padding-right: 30px;
}

#footer-left ul {
	list-style: none;
	padding: 0px;
}

#footer-left li {
	margin-bottom: 2px;
}

#footer-left a {
	color: #FFF;
}

#w3c {
	margin: 0 0 0 22px;
}

#w3c ul {
	padding: 0px;
}

#w3c ul li {
	float: left;
	list-style: url(images/valide.gif);
	margin: 67px 18px 0 0;
}

#xiti {
position:absolute;
left:550px;
bottom:-245px;
}

#w3c li a {
	color: #17a2e2;
	font-weight: bold;
}

#footer-right {
	float: left;
	width: 230px;
}

#footer-right a {
	color: #FFF;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out;
}

#footer-right a:hover {
	font-weight: bold;
	color: #b5de14;
}

#twitter {
	font-weight: bold;
	background: url(images/twitter.png) top left no-repeat;
	min-height: 73px;
}

#twitter p { padding: 15px 0 0 80px; 
}

#footer-partenaires  {
	float:left;
	width:230px;
}

#footer-partenaires a  {
	color:#FFF;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out;
}

#footer-partenaires a:hover  {
	font-weight: bold;
	color: #b5de14;
}

#footer-partenaires ul li {
    margin-bottom: 2px;
	list-style:none;
	
}
/******************Dans l'index************/
a.croixtest {
  position:relative; 
  text-decoration: none; 
}
a:hover.croixtest {
  text-decoration: none; 
  background: none;
}
a.croixtest span
{
	display:none;

}
a:hover.croixtest span
{
	display: inline; 
  position: absolute;  
  top: 0px; 
  right: 2px; 
  z-index: 20; 
  width:100%; 
  padding:2px 4px;
}

a.oktest {
  position:relative; 
  text-decoration: none; 
}
a:hover.oktest {
  text-decoration: none; 
  background: none;
}
a.oktest span
{
	display:none;

}
a:hover.oktest span
{
	display: inline; 
  position: absolute;  
  top: 0px; 
  right: 2px; 
  z-index: 20; 
  width:100%; 
  padding:2px 4px;
}

/*Pour le menu dernier tuto ajoutés*/
.tutobas a{
	font-weight:bold;
	color:#FFF;
    -webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out;
}

.tutobas a:hover{
	font-weight: bold;
color: #B5DE14;
}
/*********************************/
#lasttuto  {
	float:left;
	width:230px;
}

#lasttuto ul li{
	list-style:none;
}


#boutonlike li{
	list-style-type: none;
	padding-right:3px;
	width: 90px;
	height: 30px;
	float:left;
	
}
#info{

	color:#7D9B0A;
	background-color: #F8FDE7;
	border-radius: 3px;
    padding: 4px 2px 16px 50px;
    position:relative;
}
#info:before{
    content: url(images/info.png);
    position: absolute;
    left:-8px;
    top:-8px;}
    
#attention:before{
    content: url(images/exclam.png);
    position: absolute;
    left:-8px;
    top:-8px;

}
#attention{

	color:#DA5E0F;
	background-color: #FCF4E5;
    border-radius: 3px;
    padding: 4px 2px 16px 50px;
    position:relative;
}
#attention a {
	color:#DA5E0F;
}
#interro{
background-color: #EDF7FC;
color: #145AC1;
border-radius: 3px;
padding: 4px 2px 16px 50px;
position :relative;
}
#interro:before{
    content: url(images/point.png);
    position: absolute;
    left:-8px;
    top:-8px;

}
/*Partie tuto vidéo*/
.trait {
	padding:0;
	margin:5px 0 18px 0px;
	border-bottom:1px dashed #3A7CAC;
}

.bleu_tuto a {
	color: #10729c;
	padding:35px 0 0 0;
}
.capture {
	float:left;
	margin:0 10px 6px 0;
	border-radius: 5px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
	box-shadow: 3px 3px 12px black;
	filter:progid:DXImageTransform.Microsoft.Shadow("color='#aaaaaa', Direction=135, Strength=3");
  zoom: 1;
}
.corp {
	padding:25px 0 0 0;
}
.texte {
	height:100px;	
}
.partage
{
font-size: 1.4em;
color: #666;	
font-weight:bold;
padding:0 0 0 5px;
border-left: #B5DE14 solid 6px;
border-right: #CCC solid 1px;
border-top: solid 1px #CCC;
border-bottom: solid 1px #CCC;
width: 100%;
text-align: left;
background: white;
background: -moz-linear-gradient(top, white 0%,#E9E9E9 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#E9E9E9));
background: -webkit-linear-gradient(top, white 0%,#E9E9E9 100%);
background: -o-linear-gradient(top, white 0%,#E9E9E9 100%);
background: -ms-linear-gradient(top, white 0%,#E9E9E9 100%);
background: linear-gradient(to bottom, white 0%,#E9E9E9 100%);
filter: progid:DXImageTransform.Microsoft.gradient("startColorstr='#fff',endColorstr='#e9e9e9',GradientType=0");
margin-bottom: 20px;
}
.menuimage ul{
	list-style:none;}
.menuimage li{
	list-style:none;}
.vu {
	background:url(images/oeil.png) left no-repeat;
	padding: 5px 0 5px 30px;
	position: absolute;
	left: 580px;
	margin-top:-25px;
	color: #848484;
	font-size:0.85em;
}

.bsearch{
position: absolute;
padding:1px 0 0 5px;
}
.bvalidator{
position: absolute;
padding: 1px 0 0 5px;
top: 438px;
}
.menudroite{
	border-right:solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-left: solid 1px #CCC;
}

.tutocss {
border:solid 1px #F0F0F0;
background-color:#F9F9F9;
border-collapse:collapse;
padding: 10px 10px 10px 10px;

}
.tutocss td {
border:solid 1px #F0F0F0;

}
.tutocsstitre {
	font-style:italic;
	text-align:center;
	font-weight:bold}
.tutocsstexte{
width:350px;
padding: 10px 10px 10px 10px;
}
.vote{
	text-align:right;
	color: #848484;
margin: 0 0 0 0;
font-size: 0.85em;
}
.votez{
	color: #848484;
font-size: 0.85em;
position: absolute;
left: 568px;
margin-top: 7px;
}

/*Téléchargement*/
.texte1 {
	height:130px;	
}
.bleu_telecharger a {
	color: #10729c;
	padding:15px 0 0 0;
}
.bleu_telecharger {
	color: #10729c;
	padding:0 0 0 0;
}
.post-1 {
	background:url(images/logo-info.png) left no-repeat ;
	padding:8px 0 8px 30px;
	color: #848484;
	margin: 0 0 0 0;
	font-size:0.90em;
}
/*********************************/
/*********************************/
/*Astuces*/
.img{
	border:1px solid #CCC;
	padding: 4px 4px 4px 4px;
}
.imgint{
	border:1px solid #CCC;
	padding: 4px 4px 4px 4px;
	width:300px;
}
div.lightbox{
display: none; 
position: absolute; 
top: 0; left: 0; right: 0; bottom: 0; 
} 

div.lightbox:target { 
display: block; 
position: fixed; 
z-index: 20; 
background-color: rgba(100,100,100,.8); 
text-align: center; 
padding-top: 150px; 
} 

.cadre { 
border: solid white 10px; 
}
.close{
position: absolute;
right: 412px;
top: 124px; 
}

.voteastuces {
text-align: right;
color: #EE7B11;
margin: 0 0 0 0;
position: absolute;
left: 580px;
margin-top: -5px;
border-top: 2px solid;
border-bottom: 2px solid;
border-right: 2px solid;
border-left: 2px solid;
padding: 3px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px; 
border-radius: 5px;
font-weight: bold;
}


.voteastucesok {
text-align: right;
color: #3ECE07;
margin: 0 0 0 0;
position: absolute;
left: 580px;
margin-top: -5px;
border-top: 2px solid;
border-bottom: 2px solid;
border-right: 2px solid;
border-left: 2px solid;
padding: 3px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px; 
border-radius: 5px;
font-weight: bold;

}
.iconevote {
background: url(images/etoile_vote.gif) left no-repeat ;
padding: 5px 0 5px 30px;
position: absolute;
left: 480px;
margin-top: -25px;
color: #848484;
font-size: 0.85em;

}
/******************************************************/
/********************Index**************************/
.imageindex {
	float:left;
	margin:0 10px 6px 0;
	border-radius: 5px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
	box-shadow: 3px 3px 12px black;
	filter:progid:DXImageTransform.Microsoft.Shadow("color='#aaaaaa', Direction=135, Strength=3");
  zoom: 1;
}
.blocindex {
	background: url(images/bg-bloc.jpg) right bottom no-repeat;
	padding: 0 40px 20px 0;
	margin: 0 0 30px 0;
	height: 210px;
}
/************************************************************/
/**************Cours HTML***********************************/
.cadrehtml {
position: relative;
color: #f9f9f9;
text-shadow: 0 -1px 0 #888;
background: #A0C93B url("images/fond_titre-test.png");
border: 1px solid #8ab247;
-webkit-box-shadow: 0 0 9px #7b7b7b;
-moz-box-shadow: 0 0 9px #7b7b7b;
box-shadow: 0 0 9px #7b7b7b;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 0 0 20px;
padding: 5px;
	
}

.cadrehtmlbas {
position: relative;
height: 18px;
color: #f9f9f9;
text-shadow: 0 -1px 0 #888;
background: #A0C93B url("images/fond_titre-test.png");
border: 1px solid #8ab247;
-webkit-box-shadow: 0 0 9px #7b7b7b;
-moz-box-shadow: 0 0 9px #7b7b7b;
box-shadow: 0 0 9px #7b7b7b;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 0 0 20px;
padding: 5px;
	
}

.titrehtml{
color: #f9f9f9;
text-shadow: 0 -1px 0 #888;
font-size: 1.5em;	
	
}
.titre2html{
color: #f9f9f9;
text-shadow: 0 -1px 0 #888;
font-size: 1em;		
}
.titre2html a{
color: #f9f9f9;
text-shadow: 0 -1px 0 #888;
font-size: 1em;		
}
.htmlbas{
position: absolute;
text-align: right;
width: 250px;
left: 310px;
height: 5px;
text-align:right;
color: #f9f9f9;
text-shadow: 0 -1px 0 #888;
font-size: 1em;	
}

.htmlbas a{
color: #f9f9f9;
text-shadow: 0 -1px 0 #888;
font-size: 1em;	
}

.taillefond{
color: #848484;
font-size: 0.85em;	
}
/***********Contact********************/

.captcha p{
text-align:center;
}

.messageok
{
background-color: #B9E760;
border: 1px solid #060;
color: #060;
font-weight: bold;
margin: 0px 5px 5px 5px;
padding: 5px;
text-align: center;	
}
.messagenook
{
background-color: #E76060;
border: 1px solid #600;
color: #600;
font-weight: bold;
margin: 0px 5px 5px 5px;
padding: 5px;
text-align: center;	
}

/***************Tuto Photoshop********************/

.comtuto
{
margin-top:60px;
color:#10729c;
font-weight: bold;
font-size:24px;
}